@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css?family=Faster+One|Roboto+Mono&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #C4DBEF;
}

a {
  color: #559AC9;
}

a:hover {
  color: #92BFDF;
}

h2, h3 {
  margin: 10px 10px 10px 0px;
}


ul {
  background-color: #92BFDF;
}

.picstyles {
  border: 5px solid #438FC1;
}

#toppic {
  width: 100%;
}

#tandempic {
  float: right;
  width: 40%;
  margin: 10px;
  border-radius: 10%;
}

#fast {
  font-family: 'Faster One', cursive;
}

#carouselmg {
  margin: 20px;
}
