@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

#toppic {
  width: 100%;
}

#tandempic {
  float: right;
  width: 50%;
  margin: 10px;
}

h2{
  margin: 10px 10px 10px 0px;
}

h3{
  margin: 10px 10px 10px 0px;
}
